<div class='new-main'>
  <%# フォーム %>
  <div class='form'>
    <%# フォームのヘッダー表示 %>
    <div class='form-top'>投稿画面</div>

    <%# フォームのメイン部分 %>
    <div class='form-main'>
      <%= render partial: 'form', locals: {url: question_path(@question.id), method: :patch} %>
    </div>
  </div>
</div>