<footer>
    <div class="foot-wrap">
        <div class="menu-left">
            <h3>規約</h3>
            <ul class="foot-left">
                <li><a href="#">利用規約</a></li>
                <li><a href="#">ヘルプ</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="menu-center">
            <h3>content</h3>
            <ul class="foot-center">
                <li><a href="#">募集</a></li>
                <li><a href="#">リリースノート</a></li>
                <li><a href="#">API</a></li>
            </ul>
        </div>
        <div class="menu-right">
            <h3>SNS</h3>
            <ul class="foot-right">
                <li><a href="#">公式</a></li>
                <li><a href="#">関連</a></li>
                <li><a href="#">運営</a></li>
            </ul>
        </div>
        <small class="cmark">©️copyright 2022
            <a href="#">sample-site.</a>
        </small>
    </div>
</footer>