/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

/******************************************** 
  ヘッダー 
*********************************************/
header {
  height: 80px;
  background-image: url(image1.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  align-items: center;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  color: #FFFFFF;
}

.nav-list-item  {
  list-style: none;
  display: inline-block;
  color: #FFFFFF;
  margin: 0 20px;
}

.nav-list-item a {
  text-decoration: none;
  color: white;
  font-weight : bolder;
  font-size: 16px;
}

.nav-list-item a:hover {
  color: deeppink;
}

.logo a {
  font-size: 35px;
  letter-spacing: 1.8px;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  color: white;
  font-weight : bolder;
  text-decoration: none;
}

.logo a:hover {
  color: deeppink;
}

.post-button {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.post-button a {
  line-height: 32px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.post-button a:hover {
  color: deeppink;
}

.shitumon {
  padding: 10px;
}

.logout {
  padding: 10px;
}

.login {
  padding: 10px;
}

.sign-up {
  padding: 10px;
}

.input-box{
  width: 55vw;
}

/******************************************** 
  一覧画面
*********************************************/
.index-main {
  height: 125vh;
  padding: 30px 0px;
  background-color: #F2F2F3;
}

.post-contents {
  width: 700px;
  margin: 0 auto;
}

.post-content {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
}

.comment {
  width: 70px;
  height: 100%;
  background-color: skyblue;
  color: #FFFFFF;
  border-radius: 5px 0 0 5px;
}

.comment__num {
  width: 70px;
  height: 38px;
  margin: 20px auto 0;
  line-height: 38px;
  font-size: 26px;
  text-align: center;
}

.comment__unit {
  width: 70px;
  height: 16px;
  line-height: 16px;
  font-size: 11px;
  text-align: center;
}

.question {
  width: 630px;
  padding: 10px 15px;
  background-color: #FFFFFF;
}

.question-top {
  display: flex;
  justify-content: space-between;
}

.question-top__title {
  width: 500px;
  font-size: 14px;
}

.question-top__name {
  font-size: 12px;
  text-align: right;
}

.question-top__title a{
  color: #000000;
}

.question-bottom {
  margin-top: 10px;
}

.question-bottom__content {
  font-size: 12px;
  color: #000000;
}

.page-view {
  text-align: center;
}
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}


/********************************************
  投稿画面
*********************************************/
.new-main {
  height: calc(100vh - 65px);
  padding: 80px 0;
  background-color: #F2F2F3;
}

.form {
  width: 700px;
  height: 420px;
  margin: 0 auto;
}

.form-top {
  width: 100%;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  background-color: skyblue;
  color: #FFFFFF;
  text-align:center;
  padding:10px 0; 
}

.form-main {
  width: 100%;
  height: 400px;
  padding: 10px 0;
  border-radius: 0 0 5px 5px;
  background-color: #FFFFFF;
}

.input-items {
  width: 520px;
  margin: 0 auto;
}

.input-items input {
  width: 100%;
  height: 100%;
}

.input-items textarea {
  width: 100%;
  height: 100%;
}

.input-youtube {
  margin-bottom: 20px;
}

.input-items__title {
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

.input-items__content {
  width: 100%;
  height: 120px;
  margin-top: 15px;
}

.input-items__name {
  width: 100%;
  height: 30px;
  margin-top: 15px;
}

.input-items__submit {
  width: 100%;
  height: 36px;
  margin-top: 20px;
}

.input-items__submit input {
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  background-color: skyblue;
}

/******************************************** 
  回答投稿（詳細）画面
*********************************************/
.show-main {
  padding: 70px 0;
  background-color: #F2F2F3;
}

.show-contents {
  width: 700px;
  margin: 0 auto;
  padding: 70px 60px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.show-question__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}
.question-img-content {
  text-align: center;
  width: 100%;
}

.show-question__content {
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
}

.show-question__name {
  margin-bottom: 30px;
  width: 100%;
  font-size: 12px;
  text-align: right;
}

.show-answer-form {
  padding: 20px 15px 20px 15px;
  margin-bottom: 50px;
  border-radius: 3px;
  border: 1px solid #3A3736;
}

.show-answer-form__heading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.show-answer-form__content {
  width: 100%;
  margin-bottom: 12px;
}

.show-answer-form__content textarea {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
}

.show-answer-form__name {
  width: 100%;
  height: 36px;
  margin-bottom: 12px;
}

.show-answer-form__name input[type='text'] {
  width: 100%;
  height: 36px;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
}

.show-answer-form__submit {
  width: 100%;
  height: 36px;
}

.show-answer-form__submit input[type='submit'] {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: skyblue;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
}

.answers-heading {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
}

.answer-content__text {
  font-size: 14px;
}

.answer-content__name {
  margin-bottom: 30px;
  font-size: 12px;
  text-align: right;
}

.show-edit-form {
  text-align: center;
}

.question-red-btn {
  background-color: #ea352d;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 6vw;
  text-align: center;

}

.question-destroy {
  background-color: lightgray;
  font-size: 12px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 6vw;
  text-align: center;
}

/******************************************** 
  ログイン・新規登録画面
*********************************************/
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.form-wrap{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  height: 100vh;
}
.form-wrap {
  margin: 30px; 
  padding: 30px;
}

.form-header {
  text-align: center;
}

.form-group {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
}

.login-btn {
  text-align: center;
  margin-top: 30px;
}

.info-text {
  font-size: 15px;
}

.form-info-text {
  font-size: 15px;
}

.form-bottom-text {
  font-size: 15px;
}
.register-btn {
  text-align: center;
  margin-top: 10px;
}

.register-info {
  text-align: center;
  margin-top: 10px;
}

.input-default {
  width: 45vw;
  height: 5vh;
}

.input-name {
  width: 20vw;
  height: 5vh;
}

/******************************************** 
  フッター 
*********************************************/
.foot-wrap {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.foot-wrap .menu-left, .menu-center, .menu-right {
  display: inline-block;
  width: auto;
  margin: 50px auto;
}

.foot-wrap ul {
  list-style: none;
  padding: 0;
  line-height:40px;
}

.foot-wrap h3 {
  border-bottom: 3px solid #2ac5b3;
  padding: 10px;
}

.foot-wrap a {
  text-decoration: none;
  color: #fff;
}

.foot-wrap a:hover {
  color: deeppink;
}

.foot-wrap .cmark {
  display: block;
  padding: 10px;
  border-top: 1px solid gray;
  width: 40%;
  margin: 0 auto;
  color: gray;
}

@media screen and (max-width: 400px) {
  .foot-wrap .menu-left, .menu-center, .menu-right {
      display: flex;
      flex-direction: column;
      width: auto;
  }
  .foot-wrap .cpr {
      display: inline;
  }
}